In [29]:
#Importamos las Bibliotecas
import os
import pandas as pd
from tabula import read_pdf

##### Procesamiento de archivos PDF para consolidar datos en un DataFrame categorizado

In [30]:
def pdf_df_x_categoria(ruta_carpeta):
    # Creamos un DataFrame vacío para combinar todos los resultados
    df_combinado = pd.DataFrame()
    
    # Iteramos sobre los archivos PDF en la carpeta
    for nombre_archivo in os.listdir(ruta_carpeta):
        if nombre_archivo.endswith(".pdf"):  # Asegurarse de procesar solo archivos PDF
            # Ruta completa del archivo PDF
            ruta_archivo = os.path.join(ruta_carpeta, nombre_archivo)
            
            # Extraer la categoría desde el nombre del archivo (entre "SS-" y "_")
            categoria = nombre_archivo.split("-")[1].split("_")[0]
            
            try:
                # Lee las tablas del PDF usando la ruta correcta
                tablas = read_pdf(ruta_archivo, pages='all', multiple_tables=True)
                
                # Combina todas las tablas del PDF
                for tabla in tablas:
                    tabla['Categoria'] = categoria  # Agregar columna con la categoría
                    df_combinado = pd.concat([df_combinado, tabla], ignore_index=True)
            except Exception as e:
                print(f"Error procesando {nombre_archivo}: {e}")
    
    return df_combinado

# Ruta a la carpeta que contiene los archivos PDF
ruta_carpeta = 'C:/Users/Usuario/Documents/GitHub/Fusion-de-Datos-PDF/PDF/Enero'

# Creamos el DataFrame combinado con las categorías
df_combinado = pdf_df_x_categoria(ruta_carpeta)

# Muestra el resultado
print(df_combinado)

# Guarda el resultado en un archivo CSV (opcional)
df_combinado.to_csv("dataframe_combinado.csv", index=False)

    OBRA SOCIAL 4340-SUBSIDIO DE SALUD - PRACTICAS EN INTERNACION Unnamed: 0  \
0                           PRACTICA NOMBRE HONORARIOS                   NaN
1                   140101 TESTIFICACION TOTAL 2630.00                   NaN
2         140104 TRATAMIENTO DESENSIBILIZANTE. 2746.00                   NaN
3    OBRA SOCIAL 4400-SUBSIDIO DE SALUD - PRACTICAS...                   NaN
4                           PRACTICA NOMBRE HONORARIOS                   NaN
..                                                 ...                   ...
654   360102 CISTOFIBROSCOPIA CON VIDEOCAMARA 15332.00                   NaN
655       360112 UROFLUJOMETRIA COMPUTARIZADA 15332.00                   NaN
656       360113 ESTUDIO URODINAMICO COMPLETO 35664.00                   NaN
657  360114 TEST DE TUMESCENCIA PENCANA NOCTURNA 13...                   NaN
658                    360115 PENOSCOPIA C/IV 15332.00                   NaN

    Unnamed: 1 Unnamed: 2   Unnamed: 3 Unnamed: 4 Categoria  \
0     AYUDANTE     GASTOS  DESCARTABLE      TOTAL   ALERGIA
1         0.00       0.00         0.00    2630.00   ALERGIA
2         0.00       0.00         0.00    2746.00   ALERGIA
3          NaN        NaN          NaN        NaN   ALERGIA
4     AYUDANTE     GASTOS  DESCARTABLE      TOTAL   ALERGIA
..         ...        ...          ...        ...       ...
654       0.00       0.00         0.00   15332.00  UROLOGIA
655       0.00       0.00         0.00   15332.00  UROLOGIA
656       0.00       0.00         0.00   35664.00  UROLOGIA
657       0.00       0.00         0.00   13870.00  UROLOGIA
658       0.00       0.00         0.00   15332.00  UROLOGIA

    OBRA SOCIAL 4400-SUBSIDIO DE SALUD - PRACTICAS AMBULATORIAS
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
654                                                NaN
655                                                NaN
656                                                NaN
657                                                NaN
658                                                NaN

[659 rows x 8 columns]

In [33]:
df_combinado

,OBRA SOCIAL 4340-SUBSIDIO DE SALUD - PRACTICAS EN INTERNACION,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Categoria,OBRA SOCIAL 4400-SUBSIDIO DE SALUD - PRACTICAS AMBULATORIAS
0,PRACTICA NOMBRE HONORARIOS,NaN,AYUDANTE,GASTOS,DESCARTABLE,TOTAL,ALERGIA,NaN
1,140101 TESTIFICACION TOTAL 2630.00,NaN,0.00,0.00,0.00,2630.00,ALERGIA,NaN
2,140104 TRATAMIENTO DESENSIBILIZANTE. 2746.00,NaN,0.00,0.00,0.00,2746.00,ALERGIA,NaN
3,OBRA SOCIAL 4400-SUBSIDIO DE SALUD - PRACTICAS...,NaN,NaN,NaN,NaN,NaN,ALERGIA,NaN
4,PRACTICA NOMBRE HONORARIOS,NaN,AYUDANTE,GASTOS,DESCARTABLE,TOTAL,ALERGIA,NaN
...,...,...,...,...,...,...,...,...
654,360102 CISTOFIBROSCOPIA CON VIDEOCAMARA 15332.00,NaN,0.00,0.00,0.00,15332.00,UROLOGIA,NaN
655,360112 UROFLUJOMETRIA COMPUTARIZADA 15332.00,NaN,0.00,0.00,0.00,15332.00,UROLOGIA,NaN
656,360113 ESTUDIO URODINAMICO COMPLETO 35664.00,NaN,0.00,0.00,0.00,35664.00,UROLOGIA,NaN
657,360114 TEST DE TUMESCENCIA PENCANA NOCTURNA 13...,NaN,0.00,0.00,0.00,13870.00,UROLOGIA,NaN
658,360115 PENOSCOPIA C/IV 15332.00,NaN,0.00,0.00,0.00,15332.00,UROLOGIA,NaN

In [12]:
# Guarda el resultado en un archivo CSV (opcional)
df_con_encabezados.to_csv("dataframe_combinado.csv", index=False)

##### Código para separa en 3 la primera columna:
Definimos el patrón para extraer PRACTICA (6 primeros dígitos), NOMBRE, y HONORARIOS
El patrón indica que la PRACTICA tiene 6 dígitos al principio, luego el NOMBRE que puede tener espacios, y finalmente el HONORARIO

In [ ]:
def separar_primera_columna(df):
    patron = r"(\d{6})\s+([^\d]+)\s+(\d+\.\d+)"
    
    # Aplicamos el patrón para separar los datos
    nuevas_columnas = df.iloc[:, 0].str.extract(patron)
    
    # Renombramos las columnas extraídas
    nuevas_columnas.columns = ['PRACTICA', 'NOMBRE', 'HONORARIOS']
    
    # Convertimos la columna HONORARIOS a numérica
    nuevas_columnas['HONORARIOS'] = nuevas_columnas['HONORARIOS'].astype(float)
    
    # Eliminamos la columna original
    df = df.drop(df.columns[0], axis=1)
    
    # Concatenamos las nuevas columnas al DataFrame original
    df = pd.concat([nuevas_columnas, df], axis=1)
    
    return df

# Aplicamos la función al DataFrame ajustado
df_final = separar_primera_columna(df_con_encabezados)

# Mostramos el resultado
print(df_final.head())

  PRACTICA                         NOMBRE  HONORARIOS  NaN  AYUDANTE  GASTOS  \
1   140101            TESTIFICACION TOTAL      2630.0  NaN      0.00    0.00
2   140104  TRATAMIENTO DESENSIBILIZANTE.      2746.0  NaN      0.00    0.00
3      NaN                            NaN         NaN  NaN       NaN     NaN
4      NaN                            NaN         NaN  NaN  AYUDANTE  GASTOS
5   140101            TESTIFICACION TOTAL      2630.0  NaN      0.00    0.00

   DESCARTABLE    TOTAL  ALERGIA  NaN
1         0.00  2630.00  ALERGIA  NaN
2         0.00  2746.00  ALERGIA  NaN
3          NaN      NaN  ALERGIA  NaN
4  DESCARTABLE    TOTAL  ALERGIA  NaN
5         0.00  2630.00  ALERGIA  NaN

In [36]:
df_final

,PRACTICA,NOMBRE,HONORARIOS,NaN,AYUDANTE,GASTOS,DESCARTABLE,TOTAL,ALERGIA,NaN
1,140101,TESTIFICACION TOTAL,2630.0,NaN,0.00,0.00,0.00,2630.00,ALERGIA,NaN
2,140104,TRATAMIENTO DESENSIBILIZANTE.,2746.0,NaN,0.00,0.00,0.00,2746.00,ALERGIA,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALERGIA,NaN
4,NaN,NaN,NaN,NaN,AYUDANTE,GASTOS,DESCARTABLE,TOTAL,ALERGIA,NaN
5,140101,TESTIFICACION TOTAL,2630.0,NaN,0.00,0.00,0.00,2630.00,ALERGIA,NaN
...,...,...,...,...,...,...,...,...,...,...
654,360102,CISTOFIBROSCOPIA CON VIDEOCAMARA,15332.0,NaN,0.00,0.00,0.00,15332.00,UROLOGIA,NaN
655,360112,UROFLUJOMETRIA COMPUTARIZADA,15332.0,NaN,0.00,0.00,0.00,15332.00,UROLOGIA,NaN
656,360113,ESTUDIO URODINAMICO COMPLETO,35664.0,NaN,0.00,0.00,0.00,35664.00,UROLOGIA,NaN
657,360114,TEST DE TUMESCENCIA PENCANA NOCTURNA,13870.0,NaN,0.00,0.00,0.00,13870.00,UROLOGIA,NaN
658,360115,PENOSCOPIA C/IV,15332.0,NaN,0.00,0.00,0.00,15332.00,UROLOGIA,NaN

In [37]:
# Guarda el resultado en un archivo CSV (opcional)
df_final.to_csv("dataframe_combinado.csv", index=False)

##### Código para eliminar columnas innecesarias (vacías):

In [38]:
# Renombramos las columnas manualmente
df_final.columns = ['PRACTICA', 'NOMBRE', 'HONORARIOS', 'col1', 'AYUDANTE', 'GASTOS', 'DESCARTABLE', 'TOTAL', 'CATEGORIA', 'col2']

# Mostramos el resultado
print(df_final.head())

  PRACTICA                         NOMBRE  HONORARIOS col1  AYUDANTE  GASTOS  \
1   140101            TESTIFICACION TOTAL      2630.0  NaN      0.00    0.00
2   140104  TRATAMIENTO DESENSIBILIZANTE.      2746.0  NaN      0.00    0.00
3      NaN                            NaN         NaN  NaN       NaN     NaN
4      NaN                            NaN         NaN  NaN  AYUDANTE  GASTOS
5   140101            TESTIFICACION TOTAL      2630.0  NaN      0.00    0.00

   DESCARTABLE    TOTAL CATEGORIA col2
1         0.00  2630.00   ALERGIA  NaN
2         0.00  2746.00   ALERGIA  NaN
3          NaN      NaN   ALERGIA  NaN
4  DESCARTABLE    TOTAL   ALERGIA  NaN
5         0.00  2630.00   ALERGIA  NaN

In [39]:
# Eliminamos las columnas 'col1' y 'col2'
df_final = df_final.drop(['col1', 'col2'], axis=1)

# Mostramos el resultado
print(df_final.head())

  PRACTICA                         NOMBRE  HONORARIOS  AYUDANTE  GASTOS  \
1   140101            TESTIFICACION TOTAL      2630.0      0.00    0.00
2   140104  TRATAMIENTO DESENSIBILIZANTE.      2746.0      0.00    0.00
3      NaN                            NaN         NaN       NaN     NaN
4      NaN                            NaN         NaN  AYUDANTE  GASTOS
5   140101            TESTIFICACION TOTAL      2630.0      0.00    0.00

   DESCARTABLE    TOTAL CATEGORIA
1         0.00  2630.00   ALERGIA
2         0.00  2746.00   ALERGIA
3          NaN      NaN   ALERGIA
4  DESCARTABLE    TOTAL   ALERGIA
5         0.00  2630.00   ALERGIA

In [40]:
# Guarda el resultado en un archivo CSV (opcional)
df_final.to_csv("dataframe_combinado.csv", index=False)

##### Código para eliminar los duplicados y filas vacias:

In [41]:
df_final = df_final[df_final['PRACTICA'].notna()]  # Eliminar los valores NaN
df_final = df_final.drop_duplicates(subset=['PRACTICA'], keep='first')  # Elimina los duplicados

# Mostramos el resultado
print(df_final.head())

   PRACTICA                                    NOMBRE  HONORARIOS AYUDANTE  \
1    140101                       TESTIFICACION TOTAL      2630.0     0.00
2    140104             TRATAMIENTO DESENSIBILIZANTE.      2746.0     0.00
10   158003  BIOPS SERIAD/SEMISERI PIEL,PUNC.BIOP.XMU     11680.0     0.00
11   158004  EST ANAT-PATOL DE RESECC QUIRURG (NO ONC     10091.0     0.00
12   158005  EST ANAT-PATOL DE RESECC ONCOLÓGICAS POR     28831.0     0.00

   GASTOS DESCARTABLE     TOTAL CATEGORIA
1    0.00        0.00   2630.00   ALERGIA
2    0.00        0.00   2746.00   ALERGIA
10   0.00        0.00  11680.00  ANATOMIA
11   0.00        0.00  10091.00  ANATOMIA
12   0.00        0.00  28831.00  ANATOMIA

In [42]:
df_final

,PRACTICA,NOMBRE,HONORARIOS,AYUDANTE,GASTOS,DESCARTABLE,TOTAL,CATEGORIA
1,140101,TESTIFICACION TOTAL,2630.0,0.00,0.00,0.00,2630.00,ALERGIA
2,140104,TRATAMIENTO DESENSIBILIZANTE.,2746.0,0.00,0.00,0.00,2746.00,ALERGIA
10,158003,"BIOPS SERIAD/SEMISERI PIEL,PUNC.BIOP.XMU",11680.0,0.00,0.00,0.00,11680.00,ANATOMIA
11,158004,EST ANAT-PATOL DE RESECC QUIRURG (NO ONC,10091.0,0.00,0.00,0.00,10091.00,ANATOMIA
12,158005,EST ANAT-PATOL DE RESECC ONCOLÓGICAS POR,28831.0,0.00,0.00,0.00,28831.00,ANATOMIA
...,...,...,...,...,...,...,...,...
647,360102,CISTOFIBROSCOPIA CON VIDEOCAMARA,15332.0,0.00,0.00,0.00,15332.00,UROLOGIA
648,360112,UROFLUJOMETRIA COMPUTARIZADA,15332.0,0.00,0.00,0.00,15332.00,UROLOGIA
649,360113,ESTUDIO URODINAMICO COMPLETO,35664.0,0.00,0.00,0.00,35664.00,UROLOGIA
650,360114,TEST DE TUMESCENCIA PENCANA NOCTURNA,13870.0,0.00,0.00,0.00,13870.00,UROLOGIA
651,360115,PENOSCOPIA C/IV,15332.0,0.00,0.00,0.00,15332.00,UROLOGIA

In [43]:
# Guarda el resultado en un archivo CSV (opcional)
df_final.to_csv("dataframe_combinado.csv", index=False)